@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.home{
    text-align: center;
    padding: 12%;
    color: white    ;
    font-family: 'Montserrat', sans-serif;
    background-color: #10002b;
}
.home h2{
    margin-top:0.9%;
    font-size: 45px;
}
.home h1{
    font-size: 80px;
}
.home button{
    padding: 14px 40px;
    border-radius: 20px;
    margin-top: 20px;
    color: white;
    background-color: white;
    border: 2px solid rgb(157, 0, 255);
    color: black;
    font-size:20px;
}
.home button:hover{
    transition: all 0.5s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0),0 17px 50px 0 rgba(119, 117, 117, 0.19);
}
.polivalente h1{
    font-size: 45px;
}
.polivalente iframe{
    border-radius: 5%;
}


.border{
    width: 25%;
    height: 10px;
    margin-top:0.5%;
    background-color: white;
    margin-left: 36.9%;
}

footer li{
    display: inline-block;
    margin-left: 30px;
    color: rgb(132, 0, 255);
}
footer{
    background:black;
    padding: 20px;
}
footer ul{
    text-align: center;
}
@media  (max-width: 768px) {
    .home h1{
        font-size: 30px;
    }
    .home h2{
        font-size: 15px;
    }
    #sobre h1{
        font-size: 25px;
    }
    #sobre .border{
        height: 5px;
        width: 50%;
        margin-left: 25%;
    }
    footer li{
        font-size: 16px;
        margin-top: 1.5%;
    }
}
